<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="utf-8">
    <title>Parcial ll</title>

    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

   
    <link rel="stylesheet" type="text/css" href="static/css/index.css" th:href="@{/css/index.css}">

</head>
<body style="background: black;">
    <div class="modal-dialog text-center">
        <div class="col-sm-8 main-section">
            <div class="modal-content">
                <div class="col-12 user-img">
                
                
                </div>
                <form class="col-12" th:action="@{/login}" method="post">
                    <div class="form-group" id="user-group">
                        <input type="text" class="form-control" placeholder="Usuario" name="username"/>
                    </div>
                    <div class="form-group" id="contrasena-group">
                        <input type="password" class="form-control" placeholder="Clave" name="password"/>
                    </div>
                    <button type="submit" class="btn btn-outline-danger"><i class="fas fa-sign-in-alt"></i>  Iniciar sesion </button>
                </form>
                <div class="col-12 forgot">
                  
                    <p><a href="#" th:href="@{/signup}">Crear Usuario </a>
                </div>
                <div th:if="${param.error}" class="alert alert-danger" role="alert">
		           Nombre de usuario y clave incorrectos.
		        </div>
		        <div th:if="${param.logout}" class="alert alert-success" role="alert">
		            Has cerado la sesion!
		        </div>
            </div>
                   <hr>
                  <h6 class="form-signin-heading" style="color:red;font-weight:bold;"><center></center></h6>
             
        </div>
    </div>
</body>
</html>
